img {
  border-radius:50%
}
.profile-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.header-title {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.about {
  text-align: center;
/*   margin-left: 250px; */
  margin-top: 100px;
}
p {
  font-family: "Times New Roman", Times, serif;
/*   text-align: center */
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color:orange;
}
h3 {
  text-align:center;  
}
.projects {
  text-align:center;
  margin-top: 100px;
}
footer {
  display: flex;
  flex-direction: row;
}
.linkedin-icon {
  position: absolute;
  margin-left: 100px;
  color: black;
  text-decoration: none;
}

.linkedin-icon:hover {
  color: cornflowerblue;
}

.github-icon {
  position: absolute;
  margin-left: 500px;
  color: black;
  text-decoration: none;
}
.github-icon:hover {
  color: cornflowerblue;
}

.gmail-icon {
  position: absolute;
  width: 75px;
  height: 70px;
  margin-left: 900px;
  color: black;
  text-decoration: none;
}
.gmail-icon:hover {
  color: cornflowerblue;
}
