html {
  background-color: rgb(255, 186, 95);
  /* background-color: #000000c0; */
}
#page-container {
  position: relative;
  min-height: 100vh;
}
img.book {
  height: auto;
  width: 100%;
  max-width: 550px;
  border-radius: 3%;
  border: 2px solid black;

  /* border: 3px solid rgb(110, 110, 226);
  border-radius: 15px; */
}
img.brew {
  height: auto;
  width: 100%;
  max-width: 550px;
  border-radius: 3%;
  border: 2px solid black;
  /* border: 3px solid rgb(110, 110, 226);
  border-radius: 15px; */
}
img.tictactoe {
  height: auto;
  width: 100%;
  max-width: 550px;
  border-radius: 3%;
  border: 2px solid black;

  /* border: 3px solid rgb(110, 110, 226);
  border-radius: 15px; */
}

.bookApp,
.breweryApp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 3%;
  margin-top: 1%;
  font-family: "Bebas Neue", cursive;
}
.tictactoe {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 2%;
  margin-top: 1%;
  font-family: "Bebas Neue", cursive;
}
p {
  text-align: center;
  font-family: "Bebas Neue", cursive;
}
h3 {
  color: rgba(255, 255, 255, 0.795);
  font-weight: bolder;
  font-family: "Bebas Neue", cursive;
}
.description {
  color: rgba(255, 255, 255, 0.795);
  text-align: left;
  width: 500px;
  margin-left: 3%;
  font-family: "Bebas Neue", cursive;
}
/* img {
  height: 190px;
  width: 175px;
} */
.profile-photo {
  display: block;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  width: 175px;
  border: 5px solid black;
  border-radius: 1%;
}
.header-title {
  color: rgba(255, 255, 255, 0.795);
  text-align: center;
  font-size: 48px;
  font-family: "Bebas Neue", cursive;
}

.about {
  color: rgba(255, 255, 255, 0.795);
  text-align: center;
  /*   margin-left: 250px; */
  margin-top: 100px;
  font-family: "Bebas Neue", cursive;
}
p {
  color: rgba(255, 255, 255, 0.795);
  font-size: 23px;
  font-family: "Bebas Neue", cursive;
}
p.intro {
  font-size: 32px;
  margin-bottom: 0%;
}
p.seeking {
  font-weight: bold;
  font-size: 32px;
  color: rgba(70, 70, 70, 0.795);
  font-family: "Bebas Neue", cursive;
}
#about {
  font-family: "Bebas Neue", cursive;

  /*   text-align: center */
  text-align: center;
}
a.bhf {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.795);
}
h3 {
  color: rgba(255, 255, 255, 0.795);
  text-align: center;
  font-size: 32px;
  font-family: "Bebas Neue", cursive;
}

h1.projects {
  font-size: 42px;
}

.projects {
  color: rgba(255, 255, 255, 0.795);
  text-align: center;
  margin-top: 50px;
  font-family: "Bebas Neue", cursive;
}
#projects {
  background-color: rgba(0, 0, 255, 0.048);
  border: 1px solid black;
  border-radius: 25px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  padding-bottom: 2.5rem;
}
/* footer */
#footer-id {
  /* background-color: rgba(0, 0, 255, 0.048);
  border: 1px solid black;
  border-radius: 25px;
  margin-left: 5%;
  margin-right: 5%; */
  /* position: absolute; */
  /* border-bottom: 1px solid rgba(245, 245, 245, 0.39); */
  color: rgba(255, 255, 255, 0.795);
  opacity: 90%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5px;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* bottom: 0; */
  /* width: 100%; */
  height: 2.5rem;
  font-size: 18px;
  margin-bottom: 2%;
}
.linkedin-icon {
  color: rgba(255, 255, 255, 0.795);
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
}
.github-icon {
  color: rgba(255, 255, 255, 0.795);
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
}
.gmail-icon {
  color: rgba(255, 255, 255, 0.795);
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
}
/* footer end */

/* hovers */
a.bhf:hover {
  color: rgba(255, 171, 92, 0.795);
}
.linkedin-icon:hover {
  color: rgb(110, 110, 226);
}
.github-icon:hover {
  color: rgb(110, 110, 226);
}
.gmail-icon:hover {
  color: rgb(110, 110, 226);
}
/* hovers end */

@media (max-width: 700px) {
  .img-book,
  .img-brew {
    width: 250px;
  }
}

@media (max-width: 500px) {
  .img-book,
  .img-brew {
    width: 150px;
  }
}
